html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
li,
pre,
code,
address,
variable,
form,
fieldset,
blockquote {
    padding: 0;
    /*relleno a 0*/
    margin: 0;
    /*margen a 0 */
    font-size: 100%;
    font-weight: normal;
}

html {
    scroll-behavior: smooth;
}

body {
    background-image: url(image/background.jpg);
    background-position: center;
    background-repeat: repeat;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    background-attachment: fixed;
}

#menu-personajes {
    position: sticky;
    top: 0;
    background-image: url(image/background.jpg);
    background-position: center;
    background-repeat: repeat;
    background-attachment: fixed;
    z-index: 1;
}

.hoja5 {
    color: #B99F65;
}

header {
    color: #B99F65;
}

h2 {
    border-bottom: #B99F65 solid 0.5vh;
}

h3 {
    font-size: 150%;
}

.ul-principales {
    border-bottom: #B99F65 solid 0.3vmax;
}

.ul-principales li {
    list-style-type: none;
}

.ul-principales a {
    text-decoration: none;
    font-size: 125%;
    color: #B99F65;
    padding: 1em 1em 0em 1em;
}

.ul-principales a:hover {
    border-bottom: white solid 0.1vmax;
    color: white;
}

*/ .h3-secundarios {
    border-top: #B99F65 solid 0.3vmax;
}

.ul-secundarios {
    border-bottom: #B99F65 solid 0.3vmax;
}

.ul-secundarios li {
    list-style-type: none;
}

.ul-secundarios a {
    text-decoration: none;
    font-size: 125%;
    color: #B99F65;
}

.ul-secundarios a:hover {
    border-bottom: white solid 0.1vmax;
    color: white;
}

h4 {
    padding-top: 235px;
    margin-top: -235px;
    margin-left: 45%;
    margin-right: 45%;
    color: #B99F65;
    font-size: 150%;
    transition: 0.5s;
    border-bottom: #B99F65 solid 0.3vmax;
}

h4+p {
    line-height: 1.5em;
    text-align: justify;
    background: #00000080;
    backdrop-filter: blur(4px);
    padding: 1%;
    margin-left: 5%;
    margin-right: 5%;
}

img {
    width: 20%;
}

footer {
    font-size: 170%;
}

#link {
    margin-top: -15%;
}