html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
li,
pre,
code,
address,
variable,
form,
fieldset,
blockquote {
    padding: 0;
    /*relleno a 0*/
    margin: 0;
    /*margen a 0 */
    font-size: 100%;
    font-weight: normal;
}

body {
    background-image: url(image/background.jpg);
    background-position: center;
    background-repeat: repeat;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    height: 100vh;
    background-attachment: fixed;
}

.hoja3 {
    color: #B99F65;
}

header {
    font-size: 300%;
    color: #B99F65;
}

h2 {
    border-bottom: #B99F65 solid 0.5vh;
    font-size: 200%;
}

table {
    width: 100%;
    line-height: 3em;
    backdrop-filter: blur(4px);
    background-color: silver;
}

#Borrar {
    background-image: url("/node_modules/bootstrap-icons/icons/file-x.svg");
    background-repeat: no-repeat;
    color: transparent;
    overflow: hidden;
    background-size: 3rem 3rem;
}

footer {
    font-size: 170%;
    padding-bottom: 12%;
}

#buscador {
    margin-bottom: 2%;
}

#filtro {
    border: 0.5vh solid #B99F65;
    background-color: #00000050;
    color: #B99F65;
    padding: 10px;
    backdrop-filter: blur(4px);
}

.modificar {
    background-image: url("/node_modules/bootstrap-icons/icons/file-word.svg");
    background-repeat: no-repeat;
    color: transparent;
    overflow: hidden;
    background-size: 3rem 3rem;
    text-indent: -666em;
    overflow: hidden;
    padding-left: 28%;
}