/************************ FOOTER ************************/


/*div de footer. Se posicion en todas las columnas y en la ultima fila del grid 
de la pagina. Se le da margen de arriba.
*/

#footer {
    grid-column: 1/4;
    grid-row: 4/4;
}


/*Etiqueta footer. Se añade margen arriba.*/

footer {
    margin-top: 5%;
}


/*Parrafos del footer. Se alinea el texto a la izquierda, se le aumenta el tamaño
 un 200% y se pone en negrita.*/

footer p {
    text-align: left;
    font-size: 200%;
    font-weight: bold;
}