/*Borrar formato*/

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
li,
pre,
code,
address,
form,
fieldset,
blockquote {
    padding: 0;
    /*relleno a 0*/
    margin: 0;
    /*margen a 0 */
    font-size: 100%;
    font-weight: normal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    height: 100vh;
    background-image: url("\../image/mesa3.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    color: white;
}


/************************ MAIN ************************/

.main {
    border-bottom: 2vh solid black;
}

main {
    margin-top: 2%;
    margin-bottom: 1%;
}

form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    text-align: center;
}

#datos_personales {
    grid-column: 1/2;
    grid-row: 1/2;
}

#datos_interes {
    grid-column: 2/3;
    grid-row: 1/2;
}

#datos_personales input {
    margin-right: 40%;
    margin-left: 40%;
}

input {
    border: 0.5vh solid white;
    background-color: #00000050;
    color: WHITE;
    padding: 1%;
    backdrop-filter: blur(1%);
    margin: 0.4%;
}

legend {
    margin-bottom: 1%;
    border: 0.3vh solid white;
    background-color: #00000050;
    color: white;
}

fieldset {
    background-color: #00000050;
    backdrop-filter: blur(1%);
    margin-bottom: 1%;
}

#enviar {
    grid-column: 1/1;
    grid-row: 2/2;
    margin-left: 40%;
    margin-right: 40%;
}

#borrar {
    grid-column: 2/2;
    grid-row: 2/2;
    margin-right: 40%;
    margin-left: 40%;
}

#datos_interes input {
    margin-top: 17.5%;
}