/************************ NAV ************************/


/*Id del div nav. Se crea un grid de 4 columnas. Se crea un borde abajo negro para 
separar el nav del main. Se añade un padding para hacer un margen.*/

#nav {
    grid-template-columns: repeat(4, 1fr);
    border-bottom: 2vh solid black;
    padding-bottom: 1%;
}


/*Etiqueta nav. Se posiciona en el grid de la columna 1 a la 4 (toda la página).
 Se pone el texto en negrita, se aumenta el tamaño y se alinea en el centro.*/

nav {
    grid-column: 1/4;
    font-weight: bold;
    font-size: 150%;
    text-align: center;
}